:root{
  --primary-color:rgb(78, 146, 206);
}



*{
  font-family: Arial, Helvetica, sans-serif;
}

.excalidraw button:focus,
.excalidraw button:active {
  background-color: #ff5733 !important; /* Custom orange highlight */
}